* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#canvas {
	border: 1px solid black;
	font-family: "Creepster", cursive;
}

#player,
#layer-1,
#layer-2,
#layer-3,
#layer-4,
#layer-5,
#enemy_fly,
#enemy_plant,
#enemy_spider,
#fire,
#collisionAnimation,
#lives {
	display: none;
}
